;; Analyzed by ClojureScript 1.7.145
{:use-macros nil, :excludes #{}, :name soccer.main, :imports nil, :requires {soccer.assets soccer.assets, loading soccer.loading, soccer.loading soccer.loading, play soccer.play, soccer.play soccer.play, pixi soccer.pixi, soccer.pixi soccer.pixi}, :uses {load soccer.assets, request soccer.assets, request-all soccer.assets}, :defs {init {:protocol-inline nil, :meta {:file "/home/hermann-p/workspace/pet-projects/soccer/src-cljs/soccer/main.cljs", :line 7, :column 7, :end-line 7, :end-column 11, :arglists (quote ([]))}, :name soccer.main/init, :variadic false, :file "src-cljs/soccer/main.cljs", :end-column 11, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 7, :end-line 7, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:cur-state :loading :id :url :play :evilos :img}, :order [:img :id :url :evilos :loading :play :cur-state]}, :doc nil}